/*INTERO DOCUMENTO*/
/*
INTRO
*/

*{
    padding: 0em;
    margin: 0em;
}
.nascosto{
	display: none;
}

.rosso{
	color: red;
}

html{
    background-image: url('../images/sfondo.png');
	background-repeat: repeat;
    background-color: rgb(0, 0, 0);
    width: 100%;
}


body{
	max-width: 1024px;
    margin: auto;
    background-color:rgb(255, 255, 255);
	font-family: "Arial", "Helvetica" ,sans-serif;
}


.aiuti{
	position:absolute;
	height:0;
	overflow:hidden;
	}
/*PULSANTI GENERALI*/

button{
	padding: .2em;
	background-color:rgb(135, 206, 235);
	border: 2px solid rgb(25, 25, 112);
	border-radius: 6px;
}

input[type=button]{
	padding: .2em;
	background-color:rgb(135, 206, 235);
	border: 2px solid rgb(25, 25, 112);
	border-radius: 6px;
}

input[type=button]:hover{
	opacity: 0.8;
}


/*INPUT GENERALI*/



input[type=password]{
	margin-bottom: 1em;
	border: 1px solid rgb(25, 25, 112);

}


input{
	margin-bottom: 1em;
	border: 1px solid rgb(25, 25, 112);

}

select{
	margin-bottom: 1em;
	border: 1px solid rgb(25, 25, 112);
	padding: .2em;
}

input[type=text]{
	margin-bottom: 1em;
	border: 1px solid rgb(25, 25, 112);
	padding: .2em;
}

input[type=email]{
	margin-bottom: 1em;
	border: 1px solid rgb(25, 25, 112);
	padding: .2em;

}

a:hover{
	opacity: 0.8;
}




#logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:30%
}

#header h1{

    color:  rgb(0, 110, 204);
	margin-left: .5em;
}

#header p{
	text-align: right;
	padding-right: .5em;
	margin-bottom: .5em;;
}

#header a{
	border: 2px solid rgb(25, 25, 112);
	background-color: rgb(135, 206, 235);
	color:rgb(0, 0, 0);
	padding: .2em;
	border-radius: 6px;
	text-decoration: underline;
}

#header a:hover{
	opacity: 0.8;
}

#breadcrumb{
    background-color:  rgb(0, 110, 204);
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    padding: .3em;
    padding-left: .8em;
    /*margin-bottom: .3em;*/
}

#breadcrumb a{

	color: rgb(255, 255, 255);
	text-decoration: none;
}


#menu{

    float: left;
	width: 19%;
}

#menu ul{
    list-style-type: none;
    padding-top: 9.5em;
}
#menu ul li {
    line-height: 3em;
    padding-left: 1.5em;
}

#menu ul a{

	color: rgb(0, 110, 204);
	text-decoration: none;
}

#menu ul a:hover{

	opacity: 0.8;
}




/*General Content div*/

#content{
    margin-left: 20%;
	/*width: 70%;*/
	border-left: 2px solid rgb(0, 0, 0);
	padding-left: 0.7em;
	padding-right: 0.7em;
	/*margin-top: 1em;*/
	min-height: 65em;
}

#content a:visited {
	color: rgb(0, 110, 204);
}

#content a {
	text-decoration: underline;
	color: rgb(0, 0, 255);
}

#content button:hover{
	opacity: 0.8;
}


#content h1{
	margin-top: 1em;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
	padding-top: 0.25em;
	padding-left: 0.25em;
	background-color:rgb(135, 206, 235);
	text-align: center;
	border: 4px solid rgb(25, 25, 112);
}


#content h2{
	background-color:  rgb(0, 110, 204);
	color: rgb(255, 255, 255);
	padding: .3em;
	padding-left: .5em;
	border: 3px solid rgb(25, 25, 112);
}

#back{

	margin-top: 1em;
	margin-bottom: 1em;
}

/*Fine General Content div*/

/* Inizio Home*/

#contenthome{
    margin-left: 17%;
    width: 70%;
	padding : 14em 2em 16em 2em;
	border-left: 2px solid rgb(0, 0, 0);
    text-align: center;
}
#contenthome p{

    padding-top: 1em;
    padding-left: 2em;
}

#contenthome h1 {
	margin-bottom: 1em;
	color:  rgb(0, 110, 204);
	font-size: 3em;

}

#contenthome h2 {
	margin-top: 1em;
}

/* Fine Home*/






/* Inizio Pagina generale delle ricette*/

.recipeImage{
	width: 50%;
	display: block;
	margin: auto;
	margin-top:1em;
	margin-bottom:1em;
}

.recipeTitle{

	background-color:  rgb(0,110 ,204);
	color: rgb(255, 255, 255);
	padding: .3em;
	padding-left: .5em;
	border: 3px solid rgb(25, 25, 112);

}

.recipeTitle a{

	color: rgb(255, 255, 255);
	text-decoration: none;
}

.recipeAd{

	border: 2px solid rgb(25, 25, 112);
	border-top: none;
	margin-bottom: .5em;
}

.recipeAdText{

	padding: .3em;
	padding-left: .5em;
}

.linkricetta{
	padding-left: 0.5em;
}

/*Singola ricetta*/

#recipeContent{
    margin-left: 17%;
    width: 70%;
    padding-left: .5em;
    border-left: 2px solid rgb(0, 0, 0);
}

#recipeContent h3{

	font-size: 1.5em;
	text-align: center;
}

#recipeHeadTitle{

	color: rgb(0, 0, 0);
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
}

#back a{

	color:  rgb(0, 110, 204);
	/*text-decoration: none;*/
}

#recipeInnerImage{

	height: 90%;
	max-height: 30em;
	max-width: 90%;
	display: block;
	margin: auto;
	margin-bottom: .5em;
}

#smaller{

	font-size: .9em;
}

#ingredients, #method, #hint{

	padding-bottom: .7em;
}

#ingredients h3, #method h3, #hint h3{

	margin-bottom: .5em;
}

.partialList[title]::before{

	content: attr(title);
	display: block;
	margin-left: -0.9em;
	padding-bottom: .3em;
	padding-top: .15em;
	font-weight: 600;
	font-size: 1.1em;
}

#ingredients ul, #method ul, #hint ul{

	padding-left: .9em;
}

#ingredients li, #method li, #hint li{

	padding-top: .1em;
	margin-bottom: 0.5em;
}

#ingredients p{
	margin-bottom: 0.5em;
}


#hint p{

	font-size: .9em;
}

/* Fine Pagina generale delle ricette*/






/*Inizio News*/

.sottotitolonews{
	padding-bottom: 0.5em;
	background-color:  rgba(0, 174, 239 , 0.85);
	border: 3px solid rgb(25, 25, 112);
	padding-left: 0.5em;
	padding-top: 0.25em;

}

#minititolonews{
	padding-left: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom: 2px solid rgb(25, 25, 112);
	border-left: 3px solid rgb(25, 25, 112);
	border-right: 3px solid rgb(25, 25, 112);
}

.minititolonews{
	padding-left: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom: 2px solid rgb(25, 25, 112);
	border-left: 3px solid rgb(25, 25, 112);
	border-right: 3px solid rgb(25, 25, 112);
}

.news{
	margin-bottom: 1em;
	list-style-type: none;
}
.news a {
	text-decoration: none;
}
.news p {
	padding-top: 0.25em;
	padding-left: 0.5em;
	border-left: 3px solid rgb(25, 25, 112);
	border-right: 3px solid rgb(25, 25, 112);
	padding-bottom: 0.25em;
}
.testonotizia {
	border-bottom: 3px solid rgb(25, 25, 112);
	padding-bottom: 0.25em;
}

.redirectcompleto {
	border-bottom: 3px solid rgb(25, 25, 112);
}


#navnews{
	padding-top: 1em;
	padding-bottom: 1em;
}
#navnews li{

	margin-right: 0.5em;
	display: inline;
	padding : 0.25em;
	font-weight: bolder;
	border: 2px solid rgb(0, 0, 0);
}
#navnews li a {
	text-decoration: none;
}

#forminsertnews fieldset{
		background-color: rgba(176,224,230,0.99);
		padding-top: 1em;
		padding-left: 1em;
		padding-bottom: 1em;
		border: 4px solid rgb(25, 25, 112);
}

#forminsertnews fieldset label {
	margin-bottom: 2em;
}

#titoloform {
	font-size: x-large;
	font-weight: bolder;
}

.titololabel{
	font-size: large;
	font-weight: bold;
}

#buttonnews{
	padding: 0.25em;
	border: 2px solid rgb(25, 25, 112);
	font-size: medium;
	font-weight: bold;
}
/* Fine News*/







/*Inizio Forum*/

.AccessButton{
	margin-top: 1.5em;
	margin-left: 17em;
	padding: 1.25em 0.5em 1.25em 0.5em;
	font-size: 100%;
	font-weight: bold;
}

#bannedFromForum{
	margin-top: 1em;
}

.commenti{
	margin-bottom: 4em;
}
.commenti button{

	padding: 1em;
	background-color:rgb(135, 206, 235);
	border: 2px solid rgb(25, 25, 112);
}

.forumFieldset{

	max-width: 100%;
}

.answerPostTextarea{
	width: 80%;
}

.forumTextarea{
	display: block;
	box-sizing:border-box;
	width: 95%;
	height: 50%;
	overflow: scroll;
}

.block{
	display:block;
}

.post textarea {
	background-color:rgb(239, 250, 255);
	border: 2px solid rgb(25, 25, 112);
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: .5em;
	padding: .3em;
	resize: none;
}

.confirmLeaveAnswer{
	margin-left: 1em;
}

.commenti textarea{
	width: 96%;
	display:block;
	resize: none;
	padding: 1em;
	background-color:rgb(239, 250, 255);
	border: 2px solid rgb(25, 25, 112);
	resize: none;
}

.commenti fieldset{
	border: 2px solid rgb(25, 25, 112);
	background-color: rgb(135, 206, 235);
}

.post{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}
.post h3{
	margin-top:.5em;
	margin-left: 15em;
}
.post label{
	font-weight: bold;
	display:block;
	margin-left: 1em;
	margin-top: 0em;
	margin-bottom: 0.3em;
}


.miPiaceButton, .leaveAnswer{
	display: inline-block;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
	border: 2px solid rgb(25, 25, 112);
	background-color: rgb(135, 206, 235);
	padding: 0.3em 0.3em 0.3em 0.3em;
	font-weight: bold;
}


.likeBicipite{
	height: 10%;
	max-height: 3em;
	max-width: 90%;
	margin: auto;
	background-color: transparent;
}

.miPiaceButton {
	margin-left: 1em;
	margin-right: 0.5em;
}

.LikeCount{
	font-size: large;
}

.othersComment{

	margin-left: 2.4em;
	margin-bottom: 0.5em;
}

.answer{
	/*display:inline-block;*/
	margin-top: 1em;
	overflow:scroll;
}

.answer p{

	margin-left:1em;
	font-weight: bold;

}

.answer textarea{
	width: 85%;
	box-sizing:border-box;
	margin-right: 3em;
	margin-left: 3em;
	resize: none;
}

textarea .text{
	margin-top: 9em;
}

#creazionePost{
	font-weight: bold;
	display:block;
	margin-top: 1em;
	margin-bottom: 0.3em;
}

/*
.Inviabutton{
	margin-left: 2em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-size: 100%;
	font-weight: bold;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

*/
/*Fine Forum*/






/*Inizio parte Workout*/

/* Workout */


#premise h2{
	margin-bottom: 1em;
}

#premise p{
	margin-bottom: 1em;
	margin-left: .5em;
}


#introToWS h2{
	margin-bottom: 1em;
}

#introToWS p{
	margin-bottom: 1em;
	margin-left: .5em;
}


#benefits h2{
	margin-bottom: 1em;
}

#benefits p{
	margin-bottom: 1em;
	margin-left: .5em;
}


#whichSplit h2{
	margin-bottom: 1em;
}

#whichSplit p{
	margin-bottom: 1em;
	margin-left: .5em;
}


#splitsMenu{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	padding-top: 0.25em;
	padding-left: 0.25em;
}

#splitsMenu ul{
	margin-left: 1em;
	padding-right: 6em;
	padding-left: 0.5em;
}

#splitsMenu ul li{
	margin-bottom: 0.5em;
}




#splitsMenu a{
	color:  rgb(0, 110, 204);
	text-decoration: underline;
}


#whatis h2{
	margin-bottom: 1em;
}

#whatis p{
	margin-top: .5em;
	margin-bottom: 1em;
}

#whatis img{
	margin-top: 1em;
	margin-bottom: 1em;
}

#whatis ul{
	margin-top: 0.5em;
	margin-bottom: 2em;
	margin-left: 2em;
}


#why h2{
	margin-bottom: 1em;
}

#why p{
	margin-top: .5em;
	margin-bottom: 1em;
}


#example h2{
	margin-bottom: 1em;
}

#example p{
	margin-top: .5em;
	margin-bottom: 1em;
}


#splitTable{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	padding-top: 0.25em;
}

#splitTable table{
	margin-bottom: 1em;
	border-collapse: collapse;
}

#splitTable td, th{
		border: 1px solid rgb(25, 25, 112);
}

#splitTable td{
	padding-left:0.25em;
}

.day{
	background-color:rgb(135, 206, 235);
}

#splitTable th{
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	margin-top:1em;
	margin-bottom: 3em;
	padding-left: 1em;
	padding-right: 1em;
}

.setrep{
	text-align:center;
}

#splitTable td{
	padding-top: 0.25em;
	table-layout: auto;
	width: 100%
}

#elencobs li {
	margin-bottom: 0.5em;
}

#elencoppl1 li {
	margin-bottom: 0.5em;
}

#elencoppl2 li {
	margin-bottom: 0.5em;
}

#elencoul li {
	margin-bottom: 0.5em;
}

/*Immagini workout interne*/

#arnold{
	width: 100%;
}

#pplImg{
	width: 100%;
	display: block;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 1em;

}

#upperlower{
	width: 100%;
	display: block;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 1em;
}

#fullbody{
	width: 70%;
	display: flex;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*Fine parte workout*/




/*LOGIN e SIGNUP*/

#notLoggedIn h2{
	margin-top: 1em;
	margin-bottom: .5em;
}

#notLoggedIn fieldset{
	border: 2px solid rgb(0, 0, 139);
	background-color: rgb(135, 206, 235);
	width:100%;
	text-align: center;
}

#notLoggedIn p{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

#usernameInputArea{
	display: block;
	margin-right: auto;
	margin-left: auto;

}

#passwordInputArea{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.loginButton{

	padding: .2em;
	background-color:rgb(255, 255, 255);
	border: 2px solid rgb(25, 25, 112);
	font-size: 100%;
	font-weight: bold;
	display:block;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 6px;
}

#notLoggedIn label{
	display: block;
	margin-top:0.5em;
	margin-bottom:0.5em;
	text-align: center;
}




/*Pagina profilo*/

.readonly{

	readonly: readonly;
}

#change label{
	padding-right: .5em;
	margin-bottom: .5em;
	display: block;
}

#change input{
	padding-right: .5em;

	display: block;
}


#change input[type=button]{
	margin-top: 3em;
	display: block;
}






/* Pannello amministratore*/

#notAdmin{
	margin-top: 1em;
}

#promotion{
	margin-bottom: 1em;
}

#promotion h2{
	margin-bottom: 1em;
}

#promotion select{

	margin-top: 1em;
	display: block;
	margin-top: 1em;
}

#deleteRecipe{
	margin-bottom: 1em;
}

#deleteRecipe h2{
	margin-bottom: 1em;
}

#deleteRecipe select{
	display: block;
	margin-top: 1em;
}

#deleteNews {
	margin-bottom: 1em;
}

#deleteNews h2{
	margin-bottom: 1em;
}

#deleteNews select{
	display: block;
	margin-top: 1em;
}

#deletePost{
	margin-bottom: 1em;
}

#deletePost h2{
	margin-bottom: 1em;
}

#deletePost select{
	margin-bottom: 1em;
	display: block;
	margin-top: 1em;
}

#deletePost textarea{
	margin-bottom: 1em;
	border: 2px solid rgb(25, 25, 112);
	padding: .3em;
	resize: none;
	margin-top: 1em;
}

#deletePost button{
	margin-bottom: 1em;
	display: block;
}

#deleteAnswer{
	margin-bottom: 1em;
}

#deleteAnswer h2{
	margin-bottom: 1em;
}

#deleteAnswer textarea{
	margin-bottom: 1em;
	border: 2px solid rgb(25, 25, 112);
	padding: .3em;
	resize: none;
	margin-top: 1em;
	display: block;
}

#deleteAnswer select{
	margin-bottom: 1em;
	display: block;
	margin-top: 1em;
}

#deleteAnswer button{
	margin-bottom: 1em;
	display: block;
}

#addNews{
	margin-bottom: 1em;
}

#addNews h2{
	margin-bottom: 1em;
}

#addNews p{
	margin-bottom: 1em;
}

#addNews input{
	margin-bottom: 1em;
	display: block;
}

#newsTypeLabel{
	display: block;
	margin-bottom: .5em;
}

#type{
	display: block;
	margin-bottom: 1em;
}

#newsTitleLabel{
	display: block;
	margin-bottom: .5em;
}

#newsTitle{
	display: block;
	margin-bottom: 1em;
}

#newsTextLabel{
	display: block;
	margin-bottom: .5em;
}

#newsText{
	border: 2px solid rgb(25, 25, 112);
	padding: .3em;
	display: block;
	margin-bottom: 1em;
}

#newsLinkLabel{
	display: block;
	margin-bottom: .5em;
}

#newsLink{
	display: block;
	margin-bottom: .5em;
}


#removeAccount{
	margin-bottom: 1em;
}

#addRecipe{
	margin-bottom: 1em;
}

#addRecipe h2{
	margin-bottom: 1em;
}

#addRecipe p{
	margin-bottom: .5em;
}



#recipeTitleLabel{
	display: block;
	margin-bottom: .5em;
}

#recipeTitle{
	display: block;
	margin-bottom: .5em;
}

#recipeDescriptionLabel{
	display: block;
	margin-bottom: .5em;
}

#recipeDescription{
	display: block;
	margin-bottom: .5em;
}

#recipeImageLabel{
	display: block;
	margin-bottom: .5em;
}


#recipeImage{
	display: block;
	margin-bottom: .5em;
}

#recipeAltLabel{
	display: block;
	margin-bottom: .5em;
}

#recipeAlt{
	display: block;
	margin-bottom: .5em;
}

#recipeIngredientsLabel{
	display: block;
	margin-bottom: .5em;
}

#recipeIngredients{
	display: block;
	margin-bottom: .5em;
	border: 2px solid rgb(25, 25, 112);
	padding: .3em;
}

#recipeMethodLabel{
	display: block;
	margin-bottom: .5em;
}

#recipeMethod{
	display: block;
	margin-bottom: .5em;
	border: 2px solid rgb(25, 25, 112);
	padding: .3em;
}

#recipeHintLabel{
	display: block;
	margin-bottom: .5em;
}

#recipeHint{
	display: block;
	margin-bottom: .5em;
	border: 2px solid rgb(25, 25, 112);
	padding: .3em;
}

#recipePeopleLabel{
	display: block;
	margin-bottom: .5em;
}

#recipePeople{
	display: block;
	margin-bottom: 1em;
}



#revokeBan{
	margin-bottom: 1em;
}

#revokeBan h2{
	margin-bottom: 1em;
}

#revokeBan select{
	margin-bottom: 1em;
	display: block;
	margin-top: 1em;
}

#errorBanMessage{
	margin-bottom: 1em;
}

#banUserFromForum{
	margin-bottom: 1em;
}

#banUserFromForum h2{
	margin-bottom: 1em;
}


#banUserFromForum select{
	
	margin-top: 1em;
	display: block;
}

#notBanned{
	margin-bottom: 1em;
}

#errorUnbanMessage{
	margin-bottom: 1em;
}

#removeAccount{
	margin-bottom: 1em;
}

#removeAccount h2{
	margin-bottom: 1em;
}

#removeAccount p{
	margin-bottom: .5em;
}

#removeAccount select{
	margin-bottom: 1em;
	display: block;
	margin-top: 1em;
}












































































































/*MEDIA QUERY*/



@media (max-width: 640px){

    /*INZIO PARTE COMUNE*/
	html{

		background-image: url('../images/sfondo.png');
		background-color: rgb(255, 255, 255);
	}

	body{
		max-width: 100%;
	}

	#logo{
		display: block;
		margin: auto;
	}

	#header h1{

		font-size: 2em;
		text-align: center;
		margin: 0em;
		margin-bottom: .5em;
	}

	#breadcrumb{

		font-size: 1em;
	}

	#menu{

		float: none;
		width: 100%;
	}

	#menu ul{

		padding: 0em;
		padding-top: .1em;
		margin: 0em;
		text-align: center;
		width: 100%;
	}

	#menu ul li{

		padding: 0em;
		margin: 0em;
		width: 100%;
	}

	#currentLink{

		background-color:  rgb(0, 110, 204);
		color: rgb(255, 255, 255);
	}

	#content{
		border: none;
		width: 95%;
		margin: .5em;
		padding: 0em;
		max-width: 100%;
		overflow: scroll;
	}

	textarea{
		width:95%
	}

	#content p{

		padding-left: .5em;
		padding-left: .5em;
	}

	/*FINE PARTE COMUNE*/

	/*INIZIO HOME*/
	#contenthome{

		width: 100%;
		border: none;
		margin: 0em;
		margin-top: 3em;
		padding: 0em;
		min-height: 20em;
	}

	#chisiamo p{

		/*margin: 0.2em;*/
		padding: .5em;
	}
	/*FINE HOME */

	/*INIZIO WORKOUT*/



	/*FINE WORKOUT*/

	/*INIZIO ALLENAMENTO SPECIFICO*/

	#splitTable{

		margin: 0em;
		margin-bottom: .5em;
		padding: 0em;
	}

	#splitTable table{

		border-collapse: collapse;
		margin-top: .5em;
	}

	#splitTable th{

		padding-left: .2em;
		padding-right: .2em;
	}

	/*FINE ALLENAMENTO SPECIFICO*/

	/*INZIO ALIMENTAZIONE*/

	.recipeImage{

		width: 100%;
	}

	.recipeTitle{

		border: 3px solid rgb(25, 25, 112);
		/*border-bottom: none;*/
	}

	.linkricetta{

		padding: 0em;
	}

	.recipeAd{

		border: 3px solid rgb(25, 25, 112);
		border-top:none;
	}

	/*FINE ALIMENTAZIONE*/

	/*INIZIO SINGOLA RICETTA*/

	#recipeContent{

		border: none;
		margin: 0em;
		padding: 0em;
		padding-top: 1em;
		width: 100%;
	}

	#back{

		font-size: .95em;
	}

	#recipeInnerImage{

		max-width: 100%;
		width: 100%;
	}

	/*FINE SINGOLA RICETTA*/

	/*INZIO FORUM*/


	.commenti{

		width: 100%;

	}

	#creazionePost{

		margin: 0em;
		padding: 0em;
		text-align: center;
	}

	.post h2{
		margin-bottom: 1.5em;
		text-align: center;
	}

	.forumFieldset{

		width: 95%;
		margin-left: .25em;
		max-width: 100%;
		min-width: 0em;
		overflow:scroll;
	}
	

	#loggato{

		max-width: 100%;
	}

	#post0{

		width: 90%;
		max-width: 100%;
		min-width: 0em;
	}

	.forumFieldset h3{

		margin-bottom: .5em;
		margin-left: .5em;

	}

	.forumFieldset label{

		margin-bottom: .5em;
		margin-left: .5em;
	}

	.post textarea{

		width: 90%;
		max-width: 100%;
	}

	.miPiaceButton{

		margin: 0em;
		margin-left: 1em;
	}

	.leaveAnswer{
		margin: .5em;
	}

	.confirmLeaveAnswer{
		margin-left: 1em;
	}

	.answer{
		
		display: block;
	}

	.answer textarea{

		width: 80%;
	}

	.othersComment{

		margin: 0em;
		margin-left: 5%;
		margin-bottom: .3em;
	}



	/*FINE FORUM*/

	/*INZIO NEWS*/

	#navnews{

		margin-top: .4em;
	}

	#navnews li{
		display: block;
		text-align: center;
	}

	.news{

		margin: 0em;
		margin-bottom: .7em;
	}

	/*FINE NEWS*/

	/*LOGIN*/


	/*PROFILO*/

	#change{
		text-align: center;
	}

	#change input{
		width: 95%;

	}
}

/**MEDIA QUERY PER STAMPA*/
@media print {
	/*
Stile css per stampa
*/

/*GENERALE*/

#menu{
    display: none;
}

html{
	font-family: "Times New Roman", Times, serif;
	font-size:12pt;
}

#header{
	padding:0.1em 1.5em 0.5em;
}

#header h1{
    text-align: center;
}
#logo{
    display:none;
}
#breadcrumb{
    margin-top: -3em;
    padding:1em 1.5em;
}

#content{
    padding:0.1em 1.5em 0.5em;
    margin-top: -2em;
}

#loginandsignup{
	margin-left: 56em;
	margin-right: 0em;
	margin-bottom:0.25em;
	display: inline;
}

#loginandsignup a{
	display:inline-block;
	margin-right: 0.5em; /* non c'è da marco ud quindi boh*/
}

/*FINE GENERALE*/

/*INIZIO HOME*/

#contenthome{
    padding:0.1em 1.5em 0.5em;
    margin-top: -2em;
}

/*FINE HOME*/

/*INIZIO WORKOUT PAGINA*/
#splitTable{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	padding-top: 0.25em;
	padding-left: 1.25em;
}

#splitTable table{
	margin-bottom: 1em;
	border-collapse: collapse;
}

#splitTable td, th{
		border: 1px solid rgba(0, 0, 0);
}
#splitTable td{
	padding-left:0.25em;
}

#splitTable th{
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	margin-top:1em;
	margin-bottom: 3em;
	padding-left: 1em;
	padding-right: 1em;
}

.setrep{
	text-align:center;
}

#splitTable td{
	padding-top: 0.25em;
	table-layout: auto;
	width: 100%
}

/*FINE WORKOUT PAGINA*/

/*INIZIO ALIMENTAZIONE PAGINA GENERALE*/

.recipeImage{
	width: 30%;
	display: block;
    margin: auto;
}

.recipeTitle{
	padding: .3em;
	padding-left: .5em;
    border: 1px solid rgba(0, 0, 0);
}

.recipeAd{
	border: 1px solid rgba(0, 0, 0);
	border-top: none;
    margin-bottom: .5em;
    margin-left: 0em;
    padding-top: 0.3em;
}

.recipeAdText{
    padding-left: .5em;
}

/* INIZIO PAGINA RICETTA SINGOLA*/

#recipeInnerImage{
	height: 60%;
	max-height: 20em;
    max-width: 60%;
    margin: auto;
}
#back{
    display: none;
}

/* FINE PAGINA RICETTA SINGOLA*/

/* INIZIO PAGINA FORUM*/

.AccessButton{
	margin-top: 1.5em;
	margin-left: 23em;
	padding: 1.25em 0.5em 1.25em 0.5em;
	font-size: 100%;
	font-weight: bold;
}
.commenti{
	margin-left: -2.5em;
}

.commenti fieldset{
	border: 2px solid rgba(0, 0, 0);
	padding-right: 1em;
}
.commenti textarea{
	width: 90%;
	display:block;
	margin-left: 2.4em;
	margin-right: 2.4em;
	padding-top: 0.5em;
	padding-left: 0.7em;
	resize: none;
}

.post{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
.post h2{
	margin-left: 13em;
}
.post label{
	font-weight: bold;
	display:block;
	margin-left: 2em;
	margin-top: -1.5em;
	margin-bottom: 0.3em;
}
.post button{
	padding: 0.3em 0.3em 0.3em 0.3em;
	font-weight: bold;
}

.miPiaceButton, .leaveAnswer{
	display: inline-block;
	margin-top: 0.5em;
	margin-bottom: 0.7em;
}

.likeBicipite{
	height: 10%;
	max-height: 3em;
	max-width: 90%;
	margin: auto;
}

.miPiaceButton {
	margin-left: 2.4em;
	margin-right: 0.5em;
}

.LikeCount{
	font-size: large;
}

.othersComment{
	display: block;
	margin-left: 2.4em;
	margin-bottom: 0.5em;
}

#creazionePostL{
	font-weight: bold;
	display:block;
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 0.3em;
}

.Inviabutton{
	margin-left: 2em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	font-size: 100%;
	font-weight: bold;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
/* FINE PAGINA FORUM*/


/* INIZIO PAGINA NEWS*/

.news a:link:after, a:visited:after {
    content: " [" attr(href) "] ";
	font-size:90%;
	/*QUA LA PROF AVEVA DETTO A LEZ CHE E' MEGLIO USARE CSS3 CON QUESTO 
	a[href^="/"]:after{
		content: " (http://www.sito.it" attr(href) ") ";
	} 
	MA A ME NON FUNZIONA QUINDI BOH*/
}

#sottotitolonews{
	border: 3px solid rgba(0, 0, 0);
	padding-left: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}
.sottotitolonews{
	padding-bottom: 0.5em;
	border: 3px solid rgba(0, 0, 0);
	padding-left: 0.5em;
	padding-top: 0.25em;
}
#minititolonews{
    padding-left: 0.5em;
	padding-top: 0.25em;
	border-bottom: 2px solid rgba(0, 0, 0);
	border-left: 3px solid rgba(0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0);
    margin-top: -1.5em;
}
.minititolonews{
	padding-left: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	border-bottom: 2px solid rgba(0, 0, 0);
	border-left: 3px solid rgba(0, 0, 0);
	border-right: 3px solid rgba(0, 0, 0);
	margin-top: -1.1em;
}
.news p {
	padding-left: 0.5em;
	border-bottom: 3px solid rgba(0, 0, 0);
	border-left: 3px solid rgba(0, 0, 0);
	border-right: 3px solid rgba(0, 0, 0);
	padding-bottom: 0.30em;
	padding-top: 0.25em;
    margin-top: -1.3em;
}

#navnews {
    margin-left: -2.5em;
}
#navnews ul li{
	margin-left: 0.01em;
	display: inline;
	padding : 0.25em;
	font-weight: bolder;   
    border: 2px solid rgba(0, 0, 0);
}

/* FINE PAGINA NEWS*/

/*INIZIO LOGIN*/
.contentLogin{     /* non so se lasciarlo al centro o fare come le altre che sono a sinistra e spostare tutto un po' più su */
	text-align:center;
}

#notLoggedIn textarea{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.7em;
	resize: none;
}

.loginButton{
	margin-top: 1.5em;
	margin-bottom: 1em;
	padding: 0.75em 0.5em 0.75em 0.5em;
	font-size: 100%;
	font-weight: bold;
	display:block;
	margin-left:5.5em;
}

#notLoggedIn label{
	display: block;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

#notLoggedIn fieldset{
	border: 2px solid rgba(0, 0, 0);
	margin-left: 12em;
	margin-right: 12em;
}

#loggedIn h3{
	margin-top:2em;
}

/*FINE LOGIN*/

/*INIZIO SIGN UP*/

.contentSignUp{
	text-align:center;
}

#nonRegistrato textarea{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.7em;
	resize: none;
}

.signUpButton{
	margin-top: 1.5em;
	margin-bottom: 1em;
	padding: 0.75em 0.5em 0.75em 0.5em;
	font-size: 100%;
	font-weight: bold;
	display:block;
	margin-left:4.5em;
}

#nonRegistrato label{
	display: block;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

#nonRegistrato fieldset{
	border: 2px solid rgba(0, 0, 0);
	margin-left: 12em;
	margin-right: 12em;
}

#registrato h3{
	margin-top:2em;
}

/*FINE SIGN UP*/
}